/* page1*/
header{
    width:98%;
    height:20px;
    background-color:purple;
    position: fixed;
    top: 0;

}

.mainbody1{
    background-image:url("/MY WEB SITE/WEB/pic/BG.jpg") ;
    background-repeat: no-repeat;
    background-position:center ;
    background-size:cover;
    background-attachment:fixed;
    text-align: justify;
}
    .body1{
text-align: center;
        width:100%;
    height:1o0px;
    background-color:purple;
    
    H1,P{
        color: wheat;
    }

    }
    
.footer{
    position:fixed;
    width:98%;
    bottom: 0;
    background-color: purple;
}
.photoh1{
    text-align: center;
}
.video1{
    text-align: center;
}
.ocs,.tcouse{
    background-color:purple;
    text-align: center;
}
.contact{
    background-color: purple;
    text-align: center;
    color: wheat;
}
header{
    text-align: right;
    top: 0%;
    background-color: purple;
    width:100%;
    height:20px;
    

    
    
}
.ul{
    display: flex;
    list-style:none;
    padding: 0;
    margin: 0;
    gap: 10px;
    
}
.body2,.body3,.body4,.resource,.body5{
    background-image:url("/MY WEB SITE/WEB/pic/bg8.jpg");
     background-repeat: no-repeat;
    background-position:center ;
    background-size:cover;
    background-attachment:fixed;
    text-align: justify;
}
th{
    color: white;
}
td{
    color:white;
}
.containner{
    display: flex;
    gap:10%;

    .image1{
        width:200px;
        height: 200px;
    }
     .image2{
        width:200px;
        height: 200px;
    }
     .image3{
        width:200px;
        height: 200px;
    }

}
.containner1{
    display: flex;
    gap:10%;

    .dv1{
        width:200px;
        height: 200px;
    }
     .dv2{
        width:200px;
        height: 200px;
    }
     .dv3{
        width:200px;
        height: 200px;
    }

}
.containner2{
    display: flex;
    gap:4%;

    .dv1{
        width:1px;
        height:1px;
    }
     .dv2{
        width:1px;
        height: 1px;
    }


}


